.App {
}


.App-intro {
  font-size: large;
}

.input-item {
	position: absolute;
	bottom: 0;
	margin: auto;
	width: 100%;
}

#inputcontainer {
    display:inline-block;
    text-align: center;
    align: center;
    width: 100%;
    height: 100%;
    position: relative;
}
