.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 400px auto;
  grid-template-rows: 80px auto 40px;
}

/*Input*/
.input-section {
  grid-column: 1/ -1;
  grid-row: 1;
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 12.5% 12.5%;
  grid-template-rows: auto auto;
  background-color: blue;
}

.input-item {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
}

#inputcontainer {
  display: inline-block;
  text-align: center;
  align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.start-time {
  grid-column: 1;
  text-align: center;
  grid-row: 1;
  margin-top: auto;
}

.start-time-label {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  background-color: #7777ff;
  margin-top: 10%;
}

.start-location {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  margin-top: auto;
}

.start-location-label {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  background-color: #7777ff;
  margin-top: 10%;
}

.destination-query {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
  margin-top: auto;
}

.destination-query-label {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
  background-color: #7777ff;
  margin-top: 10%;
}

.max-delta {
  grid-column: 4;
  grid-row: 1;
  text-align: center;
  margin-top: auto;
}

.max-delta-select {
  width: 80%;
}

.max-delta-label {
  grid-column: 4;
  grid-row: 2;
  text-align: center;
  vertical-align: top;
  background-color: #7777ff;
  margin-top: 10%;
}

.reroute-button {
  grid-column: 5;
  grid-row: 1/-1;
  background-color: red;
  text-align: center;
  margin: auto;
}

/*Output*/
.results {
  grid-column: 1;
  grid-row: 2 / -1;
  background-color: purple;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
}

.result-list-item{
  background-color: yellow;
  font-size: 17px;
  width: 400px;
  border-top-style: solid;
  border-top-width: 2px;
}
.result-list-item-nodelist {
  margin-bottom: 20px;
  margin-top: 20px;
}

.result-list-item-node {
  background-color: green;
  font-size: 16px;
  width: 340px;
  padding-left: 40px;
  padding-top: 10px;
  padding-right: 25px;

}

.result-list-item-nodeHeader {
  font-size: 20px;
  background-color: cyan;

}

.result-list-item-header {
  padding-top: 10px;
  height: 150px;
  padding-left: 25px;
}

.result-list-item-title {
  margin-right: 25px;
}

.resultlistloadmore {
  background-color: yellow;
  padding-top: 10px;
  font-size: 17px;
  height: 40px;
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
}

.resultlistspacer {
  height: 50px;
}

.map {
  grid-column: 2;
  grid-row: 2;
  background-color: orange;
}
#mapframe {
  width: 100%;
  height: 100%;
}

.sort {
  background-color: magenta;
  grid-column: 1/ -1;
  grid-row: 3;
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}

select {
  font-size: 14px;
  text-align: center;
}
