.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 400px auto;
  grid-template-rows: 80px auto 40px;
}

/*Input*/
.input-section {
  grid-column: 1/ -1;
  grid-row: 1;
  display: inline-grid;
  grid-template-columns: 25% 25% 25% 12.5% 12.5%;
  grid-template-rows: auto auto;
  /*background-color: #DAE3F3;*/
  background-color: #EAEAEA;
  color: #48A136;
  border-style: solid;
  border-color: #1F4E79;
  font-size: 18px;
}

.input-item {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
}

#inputcontainer {
  display: inline-block;
  text-align: center;
  align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.start-time {
  grid-column: 1;
  text-align: center;
  grid-row: 1;
  margin-top: auto;
}

.start-time-label {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  margin-top: 10%;
}

.start-location {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  margin-top: auto;
}

.start-location-label {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  margin-top: 10%;
}

.destination-query {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
  margin-top: auto;
}

.destination-query-label {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
  margin-top: 10%;
}

.max-delta {
  grid-column: 4;
  grid-row: 1;
  text-align: center;
  margin-top: auto;
}

.max-delta-select {
  width: 80%;
}

.max-delta-label {
  grid-column: 4;
  grid-row: 2;
  text-align: center;
  vertical-align: top;
  margin-top: 10%;
}

.reroute-button {
  grid-column: 5;
  grid-row: 1/-1;
  /*background-color: #DAE3F3;*/
  background-color: #EAEAEA;
  text-align: center;
  margin: auto;
}

#reroute-button-id {
  /*
  background-color: #1F4E79;
  color: #FFFF00;*/
  background-color: #48A136;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
}

/*Output*/
.results {
  grid-column: 1;
  grid-row: 2 / -1;
  background-color: #EAEAEA;
  /*background-color: #DAE3F3;*/
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
}

.result-list-item{
  /*background-color: #DAE3F3;*/
  background-color: #EAEAEA;
  font-size: 20px;
  width: 400px;
  border-bottom-style: solid;
  border-color: #1F4E79;
  border-left-style: solid;
  border-right-style: solid;
}
.result-list-item-nodelist {
  margin-bottom: 20px;
  margin-top: 20px;
}

.result-list-item-node {
  /*background-color: #DAE3F3;*/
  background-color: #EAEAEA;
  font-size: 20px;
  width: 340px;
  padding-left: 40px;
  padding-top: 10px;
  padding-right: 25px;

}

.result-list-item-nodeHeader {
  font-size: 20px;
  background-color: cyan;

}

.result-list-item-header {
  padding-top: 10px;
  height: 150px;
  padding-left: 25px;
}

.result-list-item-title {
  margin-right: 25px;
}

.resultlistloadmore {
  padding-top: 10px;
  font-size: 17px;
  height: 40px;
  text-align: center;
  border-color: #1F4E79;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
}

.resultlistspacer {
  height: 50px;
}

.map {
  grid-column: 2;
  grid-row: 2;
  background-color: orange;
}
#mapframe {
  width: 100%;
  height: 100%;
}

.sort {
  background-color: #EAEAEA;
  /*background-color: #DAE3F3;*/
  grid-column: 1/ -1;
  grid-row: 3;
  border-style: solid;
  border-color: #1F4E79;
  color: #1F4E79;
}

select {
  font-size: 14px;
  text-align: center;
}

.sort-dropdown {
  margin-top: 5px;
  font-size: 16px;
}
